@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    background-color: #cfcfcf;
    font-family: Barlow Semi Condensed;
    font-weight: 200;
    margin: 0;
    padding: 2rem
}

div.grid-card {
    align-items: stretch;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    margin-bottom: 3rem
}

.card1 {
    background-color: #7541c8
}

.card1,
.card2,
.card4 {
    border-radius: .5rem;
    color: #fff;
    padding: 2rem
}

.card3,
.card5 {
    border-radius: .5rem;
    color: #19212e;
    padding: 2rem
}

.card1,
.card2,
.card3,
.card4,
.card5 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    height: fit-content;
    height: -webkit-fill-available
}

.head {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem
}

img {
    border: 1px solid hsla(0, 0%, 100%, .5);
    border-radius: 50%;
    height: 2rem
}

.head>.namaStatus>.nama,
.head>.namaStatus>.status {
    margin: 0
}

.head>.namaStatus>.nama {
    font-weight: 400
}

.headline {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.6rem
}

.teks {
    font-size: .86rem;
    line-height: 1.2rem
}

.card2 {
    background-color: #48556a
}

.card3,
.card5 {
    background-color: #fff
}

.card4 {
    background-color: #19212e
}

@media (min-width:1440px) {
    div.grid-card {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr)
    }

    .card1 {
        grid-column: span 2/span 2
    }

    .card2 {
        grid-column-start: 3
    }

    .card3 {
        grid-column-start: 1;
        grid-row-start: 2
    }

    .card4 {
        grid-column: span 2/span 2;
        grid-column-start: 2;
        grid-row-start: 2
    }

    .card5 {
        grid-column-start: 4;
        grid-row: span 2/span 2;
        grid-row-start: 1
    }
}